body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  font-family: Verdana;
  font-size: 16px;
  color: Aquamarine;
  text-align: center;
}

h2 {
  color: White;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

h3 {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}

#copyright {
  text-align: right;
  color: Gray;
}
